:root::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Inter;
}

main {
  height: 230vh;
}

.about-us {
  background-image: url("./assets/Images/bg-aboutus.png");
  background-color: burlywood;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: smaller;
  margin-top: 5rem;
  width: 100%;
}
.about-us .about-us-content-left {
  padding: 5rem;
}
.about-us .about-us-content-left .card img {
  width: 15rem;
  margin: -8rem 0 0 0;
  border: #fff solid;
  border-radius: 1em;
}
.about-us .about-us-content-right {
  color: #000;
  max-width: 800px;
  margin-bottom: 5em;
}
.about-us .about-us-content-right h1 {
  font-size: 2rem;
}
.about-us .about-us-content-right h3 {
  font-size: 1.75em;
  width: 20vw;
}
.about-us .about-us-content-right p {
  font-size: 1.25em;
  width: 24vw;
}
.about-us .about-us-content-right .order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  gap: 8px;
  padding: 0.5em 1em;
  border-radius: 40px;
  background-color: saddlebrown;
}
.about-us .about-us-content-right .order-button span {
  flex-flow: 1;
  color: sandybrown;
}

.title {
  margin: 3em 0 0 5em;
}

.row {
  padding: 1em;
  display: flex;
  justify-content: center;
}
.row .product-card {
  width: 20rem;
  display: flex;
  flex-direction: column;
  position: relative;
  word-wrap: break-word;
  height: 100%;
  margin: 1em;
  max-width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px #000;
}
.row .product-card .product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  justify-content: center;
  margin: 0.5rem;
}
.row .product-card .product-rating {
  position: absolute;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  background-color: #fff;
  padding: 0.25em 0.5em;
  margin-left: 1.25em;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.row .product-card .product-rating span {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 4px;
}
.row .product-card .star-icon {
  height: 1em;
}
.row .product-card .product-details {
  padding: 1em;
}
.row .product-card .product-title {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 0.75em;
  margin-bottom: -1em;
}
.row .product-card .product-title h5 {
  font-size: 0.87em;
  font-weight: bold;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.row .product-card .product-title p {
  font-weight: bold;
}
.row .product-card .product-desc {
  display: flex;
  margin: 0.75em;
  justify-content: space-between;
}
.row .product-card .product-desc p {
  font-size: 0.8em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.row .product-card .product-button {
  width: 40px;
  height: 40px;
  background-color: sandybrown;
  border-radius: 20px;
  color: #fff;
}
.row .product-card .product-button i {
  font-size: 1.2rem;
}

.footer {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px 10px 0 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 21vh;
}

.footer p {
  color: rgb(216, 212, 207);
  font-size: 0.9rem;
  text-align: center;
}/*# sourceMappingURL=style.css.map */
