$myColor: sandybrown;
$baseSize: 4px;
$secondColor: burlywood;

@mixin flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  font-family: Inter;
}
main {
  height: 230vh;
}

.about-us {
  background-image: url("./assets/Images/bg-aboutus.png");
  background-color: $secondColor;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 50vh;
  @include flex-box();
  color: white;
  font-size: smaller;
  margin-top: 5rem;
  width: 100%;

  .about-us-content-left {
    padding: 5rem;
    .card {
      img {
        width: 15rem;
        top: -10rem;
        margin: -5rem 0 0 0;
        border: #fff solid;
        border-radius: 1em;
      }
    }
  }

  .about-us-content-right {
    color: #000;
    max-width: 800px;
    margin-bottom: 5em;
    h1 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.75em;
      width: 20vw;
    }
    p {
      font-size: 1.25em;
      width: 24vw;
    }

    .order-button {
      @include flex-box();
      font-size: 12px;
      gap: 8px;
      padding: 0.5em 1em;
      border-radius: ($baseSize * 10);
      background-color: saddlebrown;

      span {
        flex-flow: 1;
        color: $myColor;
      }
    }
  }
}

.row {
  padding: 2em;
  display: flex;
  justify-content: center;

  .product-card {
    width: 20rem;
    display: flex;
    flex-direction: column;
    position: relative;
    word-wrap: break-word;
    height: 100%;
    margin: 1em;
    max-width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px #000;

    .product-image {
      @include flex-box();
      border-radius: 5px;
      width: auto;
      max-width: 100%;
      object-fit: cover;
      justify-content: center;
      margin: 0.5rem;
    }

    .product-rating {
      position: absolute;
      display: flex;
      margin-top: 1rem;
      align-items: center;
      background-color: #fff;
      padding: 2px 6px;
      margin-left: 1.25em;
      border-radius: 16px;
    }

    .product-rating span {
      font-size: 1.2rem;
      font-weight: bold;
      margin-right: 4px;
    }

    .star-icon {
      height: 1rem;
    }

    .product-details {
      padding: 1em;
    }

    .product-title {
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;
      margin: 0.75em;
      margin-bottom: -1em;

      h5 {
        max-width: 5em;
        font-size: 0.87em;
        font-weight: bold;
        margin-block-start: 1.67em;
        margin-block-end: 1.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
    }

    .product-desc {
      display: flex;
      margin: 0.75em;
      justify-content: space-between;

      p {
        width: 15vw;
      }
    }

    .product-button {
      width: 40px;
      height: 40px;
      background-color: #ffb300;
      border-radius: 20px;
      color: #fff;
      cursor: pointer;
    }

    .product-button i {
      font-size: 1.2rem;
    }
  }
}
.footer {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px 10px 0 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 21vh;
}

.footer p {
  color: rgb(216, 212, 207);
  font-size: 0.9rem;
  text-align: center;
}
